# Assignment for Data Analyst Intern @Jar

## 1. Walmart Sales Analysis:

### A. Analyze the performance of sales and revenue at the city and branch level

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
file_path = r"C:\Users\satya\Downloads\Walmart Sales.xlsx"
df = pd.read_excel(r"C:\Users\satya\Downloads\Walmart Sales.xlsx")

In [5]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08:00,Ewallet,9.1
1,226-31-3081,A,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29:00,Cash,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23:00,Credit card,7.4
3,123-19-1176,B,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33:00,Ewallet,8.4
4,373-73-7910,C,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37:00,Ewallet,5.3

In [6]:
df.shape

(1000, 12)

In [6]:
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,Rating
995,233-67-5758,A,Naypyitaw,Normal,Male,Health and beauty,40.35,1,1/29/2019,13:46:00,Ewallet,6.2
996,303-96-2227,A,Mandalay,Normal,Female,Home and lifestyle,97.38,10,3/2/2019,17:16:00,Ewallet,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,2/9/2019,13:22:00,Cash,7.7
998,347-56-2442,B,Yangon,Normal,Male,Home and lifestyle,65.82,1,2/22/2019,15:33:00,Cash,4.1
999,849-09-3807,C,Yangon,Member,Female,Fashion accessories,88.34,7,2/18/2019,13:28:00,Cash,6.6

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1000 non-null   object
 1   Branch         1000 non-null   object
 2   City           1000 non-null   object
 3   Customer type  1000 non-null   object
 4   Gender         1000 non-null   object
 5   Product line   1000 non-null   object
 6   Unit price     1000 non-null   float64
 7   Quantity       1000 non-null   int64
 8   Date           1000 non-null   object
 9   Time           1000 non-null   object
 10  Payment        1000 non-null   object
 11  Rating         1000 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 93.9+ KB

In [9]:
df.describe()

        Unit price     Quantity      Rating
count  1000.000000  1000.000000  1000.00000
mean     55.672130     5.510000     6.97270
std      26.494628     2.923431     1.71858
min      10.080000     1.000000     4.00000
25%      32.875000     3.000000     5.50000
50%      55.230000     5.000000     7.00000
75%      77.935000     8.000000     8.50000
max      99.960000    10.000000    10.00000

In [11]:
print(df.isnull().sum())
df.dropna(inplace=True)

Invoice ID       0
Branch           0
City             0
Customer type    0
Gender           0
Product line     0
Unit price       0
Quantity         0
Date             0
Time             0
Payment          0
Rating           0
dtype: int64

In [14]:
print(df.columns)

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Date', 'Time', 'Payment',
       'Rating'],
      dtype='object')

In [25]:
# Group by city and calculate total sales and revenue
try:
    city_sales = df.groupby('City').agg({'Total_Sales_Value': 'sum', 'Unit price': 'sum'}).reset_index()
    print("City Sales and Revenue:")
    print(city_sales)
except KeyError as e:
    print(f"Column(s) {e} do not exist. Please check the column names in your DataFrame.")

# Group by branch and calculate total sales and revenue
try:
    branch_sales = df.groupby('Branch').agg({'Total_Sales_Value': 'sum', 'Unit price': 'sum'}).reset_index()
    print("\nBranch Sales and Revenue:")
    print(branch_sales)
except KeyError as e:
    print(f"Column(s) {e} do not exist. Please check the column names in your DataFrame.")

City Sales and Revenue:
        City  Total_Sales_Value  Unit price
0   Mandalay          101140.64    18478.88
1  Naypyitaw          105303.53    18567.76
2     Yangon          101143.21    18625.49

Branch Sales and Revenue:
  Branch  Total_Sales_Value  Unit price
0      A          103763.00    18645.54
1      B          107567.19    19251.62
2      C           96257.19    17774.97

### B. What is the average price of an item sold at each branch of the city .

In [48]:
average_price = df.groupby(['City', 'Branch'])['Unit price'].mean().reset_index()

# Rename columns for clarity
average_price.columns = ['City', 'Branch', 'Average_Unit price']

# Display the results
print(average_price)

        City Branch  Average_Unit price
0   Mandalay      A           53.353866
1   Mandalay      B           56.133305
2   Mandalay      C           57.958316
3  Naypyitaw      A           54.123182
4  Naypyitaw      B           57.785688
5  Naypyitaw      C           57.941009
6     Yangon      A           55.639298
7     Yangon      B           56.011062
8     Yangon      C           52.684602

### C. Analyze the performance of sales and revenue, Month over Month across the Product line, Gender, and Payment Method, and identify the focus areas toget better sales for April 2019.

In [39]:
df['Date'] = pd.to_datetime(df['Date'])

In [40]:
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

In [49]:
monthly_sales = df.groupby(['Year', 'Month']).agg({'Unit price': 'sum', 'Quantity': 'sum'}).reset_index()

In [50]:
product_line_sales = df.groupby(['Year', 'Month', 'Product line']).agg({'Unit price': 'sum', 'Quantity': 'sum'}).reset_index()

In [52]:
gender_sales = df.groupby(['Year', 'Month', 'Gender']).agg({'Unit price': 'sum', 'Quantity': 'sum'}).reset_index()

In [53]:
payment_sales = df.groupby(['Year', 'Month', 'Payment']).agg({'Unit price': 'sum', 'Quantity': 'sum'}).reset_index()

In [57]:
april_2019_sales = df[(df['Year'] == 2019) & (df['Month'] == 4)]
april_product_line_sales = april_2019_sales.groupby('Product line').agg({'Unit price': 'sum', 'Quantity': 'sum'}).reset_index()
april_gender_sales = april_2019_sales.groupby('Gender').agg({'Unit price': 'sum', 'Quantity': 'sum'}).reset_index()
april_payment_sales = april_2019_sales.groupby('Payment').agg({'Unit price': 'sum', 'Quantity': 'sum'}).reset_index()

In [59]:
print(monthly_sales)
print(april_product_line_sales)
print(april_gender_sales)
print(april_payment_sales)

   Year  Month  Quantity  Unit price
0  2019      1      1965    19753.89
1  2019      2      1654    17159.52
2  2019      3      1891    18758.72
Empty DataFrame
Columns: [Product line, Unit price, Quantity]
Index: []
Empty DataFrame
Columns: [Gender, Unit price, Quantity]
Index: []
Empty DataFrame
Columns: [Payment, Unit price, Quantity]
Index: []

# 2. App Exploration:

### Explore the features and user experience of the Jar app. Identify two aspects that you think could be significantly improved and explain your reasoning behind each suggestion.

The Jar app is designed for automated savings and investments, allowing users to save small amounts of money regularly. 
Here's a closer look at two aspects that could be significantly improved:

1. User Interface (UI) and Navigation

Current Issue: Some users find the app’s navigation to be unintuitive, with key features buried under multiple layers. 
This can make it difficult for new users to find and use the app’s primary functions.
Suggested Improvement: Simplify the navigation by reorganizing the menu structure. Key features like savings, investments
, and transaction history should be accessible from the main dashboard. Implementing a more intuitive design with clear
labels and icons will enhance user experience.

2. Personalization and Insights

Current Issue: The app provides basic insights into savings and spending habits, but these are often generic and lack personalization.
Suggested Improvement: Enhance the personalization of financial insights. Use data analytics to offer customized advice based
 on user behavior. For example, the app could suggest tailored savings goals, personalized investment plans, and spending tips.
Adding machine learning algorithms to predict and advise on future financial behaviors would add significant 
 value.

In [ ]:
By addressing these areas, the Jar app can improve its user experience, making it more user-friendly and effective in helping 
users manage their finances.

# 3. Product Optimisation:

#### To increase the number of users engaging with the 'Spin to Win' feature on the Jar app, several strategies can be implemented:

1. In-App Notifications and Reminders

.Push Notifications: Send daily reminders to users about the 'Spin to Win' feature.
.In-App Messages: Use pop-up messages or banners within the app to highlight the benefits and fun of playing the game.

2. Incentivization and Rewards

.Instant Rewards: Offer immediate, tangible rewards like discounts or cashback for participating in the spin.
.Loyalty Points: Accumulate points for every spin, redeemable for larger rewards or exclusive offers.

3. Enhanced Visibility

.Homepage Integration: Place the 'Spin to Win' feature prominently on the app's homepage.
.Visual Appeal: Use eye-catching graphics and animations to attract attention to the game.

4. Gamification and Social Proof

.Leaderboard: Introduce a leaderboard showing top players and their rewards, fostering a competitive spirit.
.Shareable Achievements: Allow users to share their spin results on social media, encouraging their network to try it out.

5. Personalized Invites

.Targeted Invitations: Send personalized invites to users who haven’t tried the feature yet, based on their app activity.
.User-Specific Challenges: Create challenges tailored to individual users to encourage them to spin the wheel.

6. Educational Prompts

.Tutorials: Provide short tutorials or guides explaining how the 'Spin to Win' feature works and its benefits.
.User Testimonials: Share success stories from other users who have benefited from the game.

7. Time-Limited Promotions

Limited-Time Offers: Introduce limited-time offers that can only be unlocked by spinning the wheel, creating a sense of urgency.

By implementing these strategies, the Jar app can increase user engagement with the 'Spin to Win' feature and drive more users
to participate, ultimately improving retention and transaction rates.